:root{
    --primarycolor: rgb(7, 25, 81);
    --primarydark: rgb(10, 10, 10);
    --primarylight: rgb(250, 250, 250);
    --secondarycolor: rgb(5, 200, 61);
}
.carousel{
  background-color: var(--primarylight);
}
.navbar{
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
}
.navbar-brand, .navbar-nav .nav-link {
  color: var(--primarycolor);
}
.navbar-nav .nav-link:hover {
  color: var(--primarylight);
}
.nav-link:hover {
  color: var(--primarylight);
}
.shoplink:hover{
  color: var(--primarylight);
}
.btn{
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
}
.btn:hover{
  background-color: var(--secondarycolor);
  color: var(--primarylight);
}
.headimg{
    position: relative;
}
.headimg img{
    width: 100%;
    height: 650px;
}
.headimg p{
    bottom: 35%;
    left: 20%;
    right: 20%;
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    color: var(--secondarycolor);
}
.shoplink{
    bottom: 5%;
    left: 45%;
    font-size: 1.5em;
    position: absolute;
    color: var(--primarycolor);
    text-decoration: none;
    background-color: var(--secondarycolor);
    border-radius: 10px;
    padding: 1%;
}
.laptopimg{
  width: 100%;
}
.desktopimg{
  width: 100%;
}
.card:hover{
  box-shadow: 0px 2px 8px 1px var(--secondarycolor);
}
.card img{
    height: 280px;
}
.socialmedia img{
    width: 5%;
    height: 5%;
  }
  .socialmedia a{
    display:inline;
  }
body {
    font-family: 'Segoe UI', sans-serif;
}
.product-card {
    transition: transform 0.3s ease;
}
  
.product-card:hover {
    transform: scale(1.05);
}
footer{
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.animate-fade-in {
    animation: fadeIn 0.8s ease-in-out;
}
@media (max-width: 768px) {
    .product-card {
      margin-bottom: 20px;
    }
  
    footer .row {
      text-align: center;
    }
  }